
<a href="sms:+1 (857) 707-2631" class="message-float" target="_blank">
  <i class="fas fa-sms"></i>
</a>

  <!-- Site footer -->
  <footer class="site-footer" id="footer-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">About CL Contracting
            At CL Contracting, we specialize in high-quality carpentry services with over five years of experience.
            Since 2019, we have been proudly serving the Boston area and its surroundings, providing a range of expert
            services that include:.
            Our team is committed to delivering exceptional craftsmanship and outstanding customer satisfaction.
            Whether you're remodeling your home or completing a new construction project, we ensure every detail is
            handled with care and precision.

            Feel free to get in touch with us through our contact form, email, phone, or via WhatsApp. We look forward
            to bringing your vision to life!</p>
            <p style="color: #fff; text-decoration: none;"><strong>E-mail:</strong> <a
              style="color: #fff; text-decoration: none;"
              href="mailto:clcontracting1010&#64;outlook.com">clcontracting1010&#64;outlook.com</a></p>
          <p style="color: #fff; text-decoration: none;"><strong>Phone:</strong> <a
              style="color: #fff; text-decoration: none;" href="tel:+18577072631">+1 (857) 707-2631</a></p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Services</h6>
          <ul class="footer-links">
            <li>Custom Cabinets</li>
            <li>Decks</li>
            <li>Paintings</li>
            <li>Siding Installation</li>
            <li>Stairs</li>
            <li>Windows & Doors</li>
            <li>Roofing Replace</li>
          </ul>
        </div>

        <div style="display: none;" class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/about/">About Us</a></li>
            <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
            <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
            <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
            <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by
       <a href="#">Contracting .Inc</a>.
          </p>
        </div>

        <div style="display: none;" class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>
