<div class="containerCarousel navbar-light bg-light">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li *ngIf="isSmallScreen" data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
      <li *ngIf="!isSmallScreen" data-target="#carouselExampleIndicators" data-slide-to="6"></li>
    </ol>
    <div class="carousel-inner">
      <div *ngIf="isSmallScreen" class="carousel-item active">
        <img class="d-block w-100 carousel-img" src="img/cabinets/carousel/cabinets-two.jpg" alt="First slide" [ngStyle]="{'height.px': isSmallScreen ? 400 : 600}">
      </div>
      <div class="carousel-item" [ngClass]="{'active': !isSmallScreen}">
        <img class="d-block w-100 carousel-img" [src]="isSmallScreen ? 'img/decks/carousel/decks-two.jpg' : 'img/decks/carousel/deck-four.jpg'" alt="Second slide" [ngStyle]="{'height.px': isSmallScreen ? 400 : 600}">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 carousel-img" [src]="isSmallScreen ? 'img/paitings/carousel/paintings-two.jpg' : 'img/paitings/carousel/paintings-four.jpg'" alt="Third slide" [ngStyle]="{'height.px': isSmallScreen ? 400 : 600}">
      </div>
      <div *ngIf="isSmallScreen" class="carousel-item">
        <img class="d-block w-100 carousel-img" src="img/rofing/carousel/rofing-two.jpg" alt="Four slide" [ngStyle]="{'height.px': isSmallScreen ? 400 : 600}">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 carousel-img" [src]="isSmallScreen ? 'img/sidings/carousel/sidings-two.jpg' : 'img/sidings/carousel/sidings-four.jpg'" alt="Five slide" [ngStyle]="{'height.px': isSmallScreen ? 400 : 600}">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 carousel-img" [src]="isSmallScreen ? 'img/stairs/carousel/stairs-two.jpg' : 'img/stairs/carousel/stairs-four.jpg'" alt="Six slide" [ngStyle]="{'height.px': isSmallScreen ? 400 : 600}">
      </div>
      <div *ngIf="!isSmallScreen" class="carousel-item">
        <img class="d-block w-100 carousel-img" src="img/windows-door/carousel/windows-door-three.jpg" alt="Six slide" [ngStyle]="{'height.px': isSmallScreen ? 400 : 600}">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
