<section id="home-section" class="containerSection">
  <div>
    <h1>CL Contracting Inc</h1>
    <p>is a premier American carpentry company committed to transforming homes with expert craftsmanship and innovative design. Specializing in decking services, sidings remodeling, kitchen renovations, and home additions, we strive to create beautiful and functional spaces tailored to our clients' needs.</p>
    <a href="#form-section" style="background-color: #3db1c0; border: #3db1c0;" class="btn btn-primary">Request Free Estimate</a>
  </div>
</section>
