<div class="containerService" id="services-section">
  <h1>Services</h1>
  <div>
  <main>
    <details name="image" (click)="alterInfo(1)">
      <summary>
        <img src="img/cabinets/three.jpg" height="400" width="300" alt="Cabinets" />
      </summary>
      <div class="content">
        <p> Cabinets </p>
      </div>
    </details>
    <div class="contentInfo" *ngIf="title != '' && description != '' && isVisible1">
      <h2>{{title}}</h2>
      <p>{{description}}</p>
      <a (click)="scrollToSection($event, 'form-section')" href="#form-section" style="background-color: #3db1c0; border: #3db1c0;" class="btn btn-primary">Request Free Estimate</a>
    </div>
    <details name="image" (click)="alterInfo(2)">
      <summary>
        <img src="img/decks/on.jpg" height="400" width="300" alt="Decks" />
      </summary>
      <div class="content">
        <p>Decks</p>
      </div>
    </details>
    <div class="contentInfo" *ngIf="title != '' && description != '' && isVisible2">
      <h2>{{title}}</h2>
      <p>{{description}}</p>
      <a (click)="scrollToSection($event, 'form-section')" href="#form-section" style="background-color: #3db1c0; border: #3db1c0;" class="btn btn-primary">Request Free Estimate</a>
    </div>
    <details name="image" (click)="alterInfo(3)">
      <summary>
        <img src="img/paitings/three.jpg" height="400" width="300" alt="Paitings" />
      </summary>
      <div class="content">
        <p>Paitings</p>
      </div>
    </details>
    <div class="contentInfo" *ngIf="title != '' && description != '' && isVisible3">
      <h2>{{title}}</h2>
      <p>{{description}}</p>
      <a (click)="scrollToSection($event, 'form-section')" href="#form-section" style="background-color: #3db1c0; border: #3db1c0;" class="btn btn-primary">Request Free Estimate</a>
    </div>
    <details name="image" (click)="alterInfo(4)">
      <summary>
        <img src="img/sidings/nine.jpg" height="400" width="300" alt="Sidings" />
      </summary>
      <div class="content">
        <p> Sidings </p>
      </div>
    </details>
    <div class="contentInfo" *ngIf="title != '' && description != '' && isVisible4">
      <h2>{{title}}</h2>
      <p>{{description}}</p>
      <a (click)="scrollToSection($event, 'form-section')" href="#form-section" style="background-color: #3db1c0; border: #3db1c0;" class="btn btn-primary">Request Free Estimate</a>
    </div>
    <details name="image" (click)="alterInfo(5)">
      <summary>
        <img src="img/stairs/eit.jpg" height="400" width="300" alt="Stairs" />
      </summary>
      <div class="content">
        <p> Stairs </p>
      </div>
    </details>
    <div class="contentInfo" *ngIf="title != '' && description != '' && isVisible5">
      <h2>{{title}}</h2>
      <p>{{description}}</p>
      <a (click)="scrollToSection($event, 'form-section')" href="#form-section" style="background-color: #3db1c0; border: #3db1c0;" class="btn btn-primary">Request Free Estimate</a>
    </div>
    <details name="image" (click)="alterInfo(6)">
      <summary>
        <img src="img/windows-door/three.jpg" height="400" width="300" alt="Windows & Door" />
      </summary>
      <div class="content">
        <p> Windows & Door </p>
      </div>
    </details>
    <div class="contentInfo" *ngIf="title != '' && description != '' && isVisible6">
      <h2>{{title}}</h2>
      <p>{{description}}</p>
      <a (click)="scrollToSection($event, 'form-section')" href="#form-section" style="background-color: #3db1c0; border: #3db1c0;" class="btn btn-primary">Request Free Estimate</a>
    </div>
    <details name="image" (click)="alterInfo(7)">
      <summary>
        <img src="img/rofing/on.jpg" height="400" width="300" alt="Roofing Replace" />
      </summary>
      <div class="content">
        <p> Roofing Replace </p>
      </div>
    </details>
    <div class="contentInfo" *ngIf="title != '' && description != '' && isVisible7">
      <h2>{{title}}</h2>
      <p>{{description}}</p>
      <a (click)="scrollToSection($event, 'form-section')" href="#form-section" style="background-color: #3db1c0; border: #3db1c0;" class="btn btn-primary">Request Free Estimate</a>
    </div>
  </main>
</div>
</div>
